body {
  /* Background gradient */
  background: var(--primary);

  /* Prevent repeating */
  background-repeat: no-repeat;

  /* Ensure it covers the entire screen */
  background-size: cover;

  /* Optional: fix position */
  background-attachment: fixed;
}

.profile {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  justify-content: right;
  grid-column: 7;
  height: 80%; /* Adjust this to fit the desired layout */
}

.intro {
  display: flex;
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  grid-column: 1 / -1;
}

.intro img {
  height: 80%;
  border-radius: 1rem;
  margin-left: 1rem;
}

a {
  text-decoration: none; /* Optional: removes underline */
}

a:visited {
  color: inherit; /* Inherit the current color instead of changing to purple */
}

a:focus {
  outline: none; /* Remove the outline after focus */
}

/* Styles for small devices (mobile phones) */
@media (max-width: 576px) {
  .intro {
    flex-wrap: wrap;
  }

  .intro img {
    height: 50%;
    border-radius: 10rem;
    overflow: hidden;
  }
}

/* Styles for medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Add styles for tablets here */
}

/* Styles for large devices (desktops) */
@media (min-width: 769px) {
  /* Add styles for desktops here */
}
