.header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column: 1 / 10;
  background-color: var(--secondary);
  justify-content: right;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  grid-column: 8/10;
  justify-content: space-around;
  align-items: center;
  color: var(--text);
}

.logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-column: 10/11;
  color: var(--text);
  margin: 1rem;
}

a {
  text-decoration: none; /* Optional: removes underline */
}

a:visited {
  color: inherit; /* Inherit the current color instead of changing to purple */
}

a:focus {
  outline: none; /* Remove the outline after focus */
}
