.App {
  display: grid;
  min-height: 100svh;
  max-width: 100vw;
}

.hero {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 100%;
  background: var(--primary);
}

.profile {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  justify-content: right;
  grid-column: 7;
  height: 80%;
}

.intro {
  display: flex;
  color: var(--text);
  background-color: rgba(26, 24, 27, 0.75);
  padding: 1rem;
  grid-column: 1 / -1;
}

.intro img {
  height: 80%;
  border-radius: 1rem;
  margin-left: 1rem;
}

a {
  text-decoration: none; /* Optional: removes underline */
}

a:visited {
  color: inherit; /* Inherit the current color instead of changing to purple */
}

a:focus {
  outline: none; /* Remove the outline after focus */
}
